{% extends "!page.html" %}

{% block body %}

  {{ super() }}

  {% if pagename == 'index' %}

    <h2>Contents</h2>

    <table class="contentstable" width="100%" align="center">
      <tr>
        <td width="50%">
          <p class="icon">
            <img src="{{ '_static/news.svg' }}" alt="">
          </p>
          <p class="biglink">
            <a href="{{ pathto('news') }}">What's new in {{project}} {{version}}?</a>
            <br/>
            <span class="linkdescr">The latest updates of {{project}}</span>
          </p>
        </td>
        <td width="50%">
          <p class="icon">
            <img src="{{ '_static/whatis.svg' }}" alt="">
          </p>
          <p class="biglink">
            <a href="{{ pathto('vision_concept') }}">What is {{project}}?</a>
            <br/>
            <span class="linkdescr">Get an overview of {{project}} concepts</span>
          </p>
        </td>
      </tr>
      <tr>
        <td width="50%">
          <p class="icon">
            <img src="{{ '_static/install.svg' }}" alt="">
          </p>
          <p class="biglink">
            <a href="{{ pathto('getting_started/install')}}">Installation</a>
            <br/>
            <span class="linkdescr">Install {{project}} on your platform</span>
          </p>
        </td>
        <td width="50%">
          <p class="icon">
            <img src="{{ '_static/troubleshooting.svg' }}" alt="">
          </p>
          <p class="biglink">
            <a href="{{ pathto('troubleshooting')}}">Troubleshooting</a>
            <br/>
            <span class="linkdescr">Find solutions to common problems</span>
          </p>
        </td>
      </tr>
      <tr>
        <td width="50%">
          <p class="icon">
            <img src="{{ '_static/contact.svg' }}" alt="">
          </p>
          <p class="biglink">
            <a href="{{ pathto('support') }}">Support</a>
            <br/>
            <span class="linkdescr">Get support for {{project}} via email, chat, etc.</span>
          </p>
        </td>
        <td width="50%">
          <p class="icon">
            <img src="{{ '_static/tutorial.svg' }}" alt="">
          </p>
          <p class="biglink">
            <a href="{{ pathto('examples')}}">Examples</a>
            <br/>
            <span class="linkdescr">Study examples demonstrating how to use {{project}}</span>
          </p>
        </td>
      </tr>
      <tr>
        <td width="50%">
          <p class="icon">
            <img src="{{ '_static/tools.svg' }}" alt="">
          </p>
          <p class="biglink">
            <a href="{{ pathto('tools') }}">Tools</a>
            <br/>
            <span class="linkdescr">Tools for recording, manipulation and replay of events</span>
          </p>
        </td>
        <td width="50%">
          <p class="icon">
            <img src="{{ '_static/specification.svg' }}" alt="">
          </p>
          <p class="biglink">
            <a href="{{ pathto('specification') }}">Specification</a>
            <br/>
            <span class="linkdescr">Detailed descriptions of the protocols used by {{project}}</span>
          </p>
        </td>
      </tr>
    </table>

    <p><strong>{{ _('Indices and tables:') }}</strong></p>
    <table class="contentstable" width="100%" align="center">
      <tr>
        <td width="50%">
          <p class="icon"><img src="{{ '_static/index.svg' }}"/></p>
          <p class="biglink">
            <a href="{{ pathto('genindex') }}">{{ _('General Index') }}</a>
            <br>
            <span class="linkdescr">{{ _('All functions, classes, terms') }}</span>
          </p>
        </td>
        <td width="50%">
          <p class="icon"><img src="{{ '_static/glossary.svg' }}"/></p>
          <p class="biglink">
            <a href="{{ pathto('glossary') }}">{{ _('Glossary') }}</a>
            <br>
            <span class="linkdescr">{{ _('Terms and definitions') }}</span>
          </p>
        </td>
      </tr>
    </table>

  {% endif %}

{% endblock %}

{% block footer %}
 <script type="text/javascript">
    $(document).ready(function() {
        $(".toggle > *").hide();
        $(".toggle .header").show();
        $(".toggle .header").click(function() {
            $(this).parent().children().not(".header").toggle(400);
            $(this).parent().children(".header").toggleClass("open");
        })
    });
</script>
{% endblock %}
